*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: var(--bg-color);
        font: var(--font-family);
}
h1 ,h2,h3{
        font:inherit;
}
ul{
        text-decoration: none;
}
li{
        list-style: none;
}
a{
        text-decoration: none;
        color: black;
}
a:hover{
        color: var(--brand-color-lignt);
}
.contener{
        max-width: 1280px;
        padding-inline: 32px;
        margin-inline: auto;
}
main{
        margin-top: 40px;
        
}