.cabeca{
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline:auto;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 20px 32px;
}
.cabecalho h1 {
  color: var(--brand-color-light);
  font-size: 24pt;
}
.cabecalho li {
  color: var(--tex-color-primary);
  display: flex;
  place-items: center;
  gap: 8px;
  font-size: 16px;
  cursor:context-menu;
}
.cabecalho img{
  cursor: pointer;
}

.navegacao {
  display: flex;
  padding: 14px 32px;
  justify-content: space-between;
  color: var(--tex-color-primary);
  border: 1px solid var(--stroke-color);
  border-inline:none;

}
.navegacao li{
  transition: 0.5s ease;

}
.navegacao li:hover{
  color: var(--brand-color-light);
  transition: 0.5s ease;
  cursor: pointer;
}