:root{
        /* PRODUTO */
        --brand-color-light:#60A5FA;
        --brand-color-dark:#1D4ED8;
        
        /* BASE */
        --bg-color:#0F172A;
        --stroke-color:#1E293B;

        /* Texto */

        --tex-color-primary:#F1F5F9;
        --tex-color-secondary:#cbd5e1;

/* FONTES */
--font-family:'"Archivo", serif';
--h1: 800 24px/135% var(--font-family);
--h2: 800 16px/140% var(--font-family);
--h3: 800 14px/140% var(--font-family);
--span: 400 14px/145% var(--font-family);
--text: 200 14px/160% var(--font-family);


}